::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    overflow: hidden;
    display: none;
} 

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    height: 12%;
    display: flex;
    border: 1px solid black;
    background-color:rgb(3, 3, 65);
    margin-bottom: 1%;
}

#header-text {
    margin-left: 3%;
    margin-top: auto;
    color: aliceblue;
}

.cart-button {
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
    margin-right: 3%;
    border: none;
    font-size: larger;
    color: aliceblue;
  }

  #main {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
  }

  .row {
    width: 96%;
    height: 25%;
    display: flex;
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .products {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 20%;
  }

  #cart {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    display: none;
  }